<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <header>
      <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>
  </body>
</html>
