<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="" action="/auth" method="post">
        <input type="text" name="user[username]" value="">
        <input type="password" name="user[password]" value="">
        <input type="submit" name="name" value="Log in">
    </form>
  </body>
</html>
