header {
  margin-bottom: 5px;
}

.form-actions {
  text-align: center;
}

.logo-container {
  text-align: center;
}

.links li {
  display: inline-block;
  font-size: 2em;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

#login-form, #sign-up-form {
  padding: 10px;
  text-align: center;
  background-image: url('../img/sticky.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#logged-in-content {
  text-align: center;
}

#alert-msg {
  color: red;
  text-align: center;
}
/* Vertical alignment style */

.va-container {
  display: table;
  height: 50px;
}

.va-element {
  display: table-cell;
  vertical-align: middle;
}
